header {
    margin-bottom: 50px;
}

#product-list-table tbody tr{
    height: 75px;
}

#product-list-table tr td{
    vertical-align: middle;
}

#product-list-table tr img{
    max-height: 50px;
}

#product-review-table .product-name {
    font-size: 22px;
}
